@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f5f8;
}

.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-top: -20px;
}

.main-container .main-container-title{
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 0;
}

.main-container .main-container-sep{
  height: 3px;
  width: 100px;
  background-color: #49a6e9;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.main-container .item{
  background-color: #fff;
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: .3s ease box-shadow;
}

.main-container .item:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-container .item .item-img{
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 0;
}


.main-container .item .item-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.main-container .item .item-img:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -2%;
  left: 8%;
  background-color: hsl(205, 78%, 60%);
  border-radius: 50%;
  z-index: -1;
}

.main-container .item .item-img-icon{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.3rem;
  border-radius: 50%;
  top: 5%;
  left: -5%;
  background-color:  hsl(205, 78%, 60%);
  color: #fff;
}

.main-container .item .item-name{
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-top: 0px;
}

.main-container .item .item-job{
  color: #49a6e9;
  text-transform: uppercase;
  margin-top: -15px;
  font-size: .7rem;
}

.main-container .item .item-info{
  color: hsl(209, 61%, 16%);
  margin-top: -10px;
  padding: 0 10px;
}


.main-container .item .item-info .item-arrows{
  height: auto;
  width: 100px;
  margin-top: -10px;
}

.main-container .item .item-arrows i {
  color: hsl(205, 90%, 76%);
  font-size: 1.8rem;
  cursor: pointer;
  transition: .3s ease color;
}

.main-container .item .item-arrows i:hover{
  color: #49a6e9;
}

.main-container .item .item-arrows i:nth-child(1){
  margin-right: 40px;
}

.main-container .item .item-btn{
  background-color: hsl(205, 100%, 96%) ;
  color: hsl(205, 78%, 60%);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .7s ease;
  transition-property: background-color, color;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-container .item .item-btn:hover{
  color: black;
  background-color: hsl(205, 78%, 60%);
}